body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Calculator {
  width: 400px;
  background-color: hsl(0, 0%, 15%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px hsl(0, 0%, 10%);
}
.btns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}
input {
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  border: none;
  height: 90px;
  color: white;
  font-size: 50px;
  font-weight: 700;
}
button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 30%);
  border: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 10%);
  cursor: pointer;
}
button:active {
  background-color: hsl(0, 0%, 20%);
}

.btn {
  background-color: hsl(35, 100%, 50%);
}
.btn:hover {
  background-color: hsl(35, 100%, 50%);
}
.btn:active {
  background-color: hsl(35, 100%, 40%);
}
